body {
    margin: 0;
    font-family: fantasy;
    height: 1200px;
    /**/
    flex-direction: column;
    display: flex;
    width: 472px;
}

header {
    text-align: center;
    padding: 32px;
    border: 1px solid black;
    flex-basis: 25%;
}

.masonry-container {
    display: flex;
    /* flex-wrap: wrap; */
    /* padding: 0 4px; */
    flex-basis: 75%;
    flex-direction: column;
    flex-wrap: wrap;
}

.img {
    /* margin-top: 8px; */
    /* vertical-align: middle; */
    /* width: 50%; */
    display: flex;
    flex-shrink: 2;
}

/* * {
    box-sizing: border-box;
} */

@media (min-width: 472px) {
    
    body {
        flex-direction: row;
        height: 50vh;
    }
    .masonry-container{
        flex-basis: 100%;
        max-width: 100%;
        /* max-height: 500px; */
        /* flex-direction: row; */
    }
    img {
        /* max-width: 236px; */
    }
}